numpy~=1.26.4
python-Levenshtein==0.25.1
joblib~=1.4.2
tqdm~=4.66.4
vllm~=0.4.1
torch~=2.2.1
transformers~=4.40.1
asttokens~=2.4.1
git+https://github.com/evalplus/evalplus.git@b297bb9#egg=evalplus
radon==6.0.1
loguru==0.7.2
gcsfs==2024.5.0
